*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5rem;
    font: 1.2rem;
    font-family: "Roboto" serif;
}

:root {
    --galleryWidth: 700px;
}

body {
    background-color: rgba(20, 20, 20, 0.9);
}

header {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
}
 
#headerWrapper {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}



#headerLogo {
    width: 125px;
}

#profileLogo {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 70px;
    transition: 0.1s;
}

#profileLogo:hover{
    cursor: pointer;
    transform: scale(1.2);
}

h1 {
    color: #eee;
    font-size: 4rem;  
}

#mainH1 {
    font-size: 5rem;
    font-family: "Bebas Neue";
}

#dublinPinImg {
    width: 150px;
}

#mainContent {
    width: 100%;
    margin-bottom: 20px;
}


table {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    border-collapse: collapse;
    
}

table tr th:first-child, table tr:first-child {
    border-top-left-radius: 5px;
   
}

table tr th:last-child, table tr:last-child {
    border-top-right-radius: 15px;
    
}

tr, td{
    border: 1px solid black;
    padding: 5px 10px;
    
}

tr td:last-child {
    text-align: center;
}

tr:nth-last-of-type(even) td{
    background-color: #ddd;
}

td{
    background-color: #eee;
    font-size: 1.2rem;
    line-height: 1.7rem;
}


td ul {
    margin-left: 15px;
}

th {
    color: #202020;
    background-color: lightblue;
    padding: 30px 10px;
    border: 1px solid black;
    white-space: nowrap;
    min-width: 175px;
}


.tr_description {
    min-width: 10%;
}

.tableImg {
    width: 300px;
}

.noResultsRow {
    width: 100%;
}

.noResultsTD {
    padding-block: 7rem;
}


#wrapper {
    width: 90%;
    margin-inline: auto;
    margin-bottom: 80px;
}

#actionDivs {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}


#actionDivs div {
    width: max-content;
    margin-inline: 8px;
}

#searchBox {
    padding: 40px 40px;
    background-color: lightblue;
    border-radius: 5px;
    min-height: 200px;
    height: fit-content;
}

#searchBox h3, #filterBox h3{
    font-size: 1.6rem;
    color: #141414;
    margin-bottom: 20px;
}

#searchBox label {
    font-size: 1.2rem;
    margin-right: 10px;
}

#searchBox input {
    font-size: 1.1em;
}

#newPhotoDiv button {
    padding: 2px 5px;
}


#filterBox {
    width: max-content;
    padding: 30px 30px;
    background-color: lightblue;
    border-radius: 5px;
    min-height: 200px;
    height: fit-content;
}

#tagsList {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: auto;
}

#tagsList li label {
    display: inline-block;
    min-width: 70px;
    margin: 4px 7px 4px 0;
    font-size: 1.2rem;
}

#createEntryDiv {
    transition: 0.1s;
    position: absolute;
    top: 50px;
    right: 130px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #141414;
    background-color: #eee;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 1px solid black;
}

#createEntryDiv:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#plusIcon {
    font-size: 3rem;
    border-radius: 50%;
    background-color: #eee;
    padding: 20px;
    transition: 0.1s;
}

#plusIcon:hover {
    padding: 22.5px;
    font-size: 3.3rem;
    cursor: pointer; 
}

#manualSort {
    visibility: hidden;
}



/* modals */
.modalContainer {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../images/banner.jpg);
    background-size: cover;
}

.modalAlpha {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.7);
    margin-bottom: 20px;
}

.modalExitButton {
    font-size: 3rem;
    font-weight: 800;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: 0.1s;
}

.modalExitButton:hover {
    cursor: pointer;
    transform: scale(1.2);
}


#profileModal {
    width: 50%;
    background-color: powderblue;
    position: relative;
    margin-inline: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    justify-content: space-evenly;
    align-items: center;
}

#profileModal h1 {
    color: #141414;
    text-align: center;
    line-height: 3.5rem;
    padding-inline-end: 20px;
}

#loginForm {
    background-color: white;
    color: #141414;
    display: flex;
    flex-direction: column;
    border: 1px solid #141414;
    width: 50%;
    padding: 30px;
    font-size: 1.2rem;
    text-align: center;
}


#loginForm label {
    margin-bottom: 5px;
    font-size: 1.4rem;
    text-align: center;
}

#loginForm input[type="text"], #loginForm input[type="password"] {
    margin-bottom: 20px;
    font-size: 1rem;
}

.loginButton {
    width: max-content;
    height: 2.5rem;
    font-size: 1.5rem;
    padding: 5px 10px;
    margin-inline: auto;
    margin-top: 20px;
}

/* INFO DISPLAY */
#infoDisplayDiv {
    padding-top: 40px;
    width: 60%;
    background-color: white;
    height: auto;
    margin-inline: auto;
    margin-block: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}




#infoModalTopRow {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-block: 12px;
}

#infoModalTopRow h1 {
    color: #141414;
    margin-bottom: 25px;
    text-align: center;
    line-height: 3.2rem;
}

#infoModalRowTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

#infoModalRowTwo > div {
    background-color: #eee;
    width: 40%;
    text-align: center;
    padding: 30px;
    color: #141414;
    border-radius: 5px;
}

#infoModalRowTwo #addressDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
    font-size: 1.3rem;
}

#infoModalRowTwo #addressDiv #coordsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#coordsDiv div {
    width: 50%;
    padding: 5px;
    font-size: 1.3rem;
}


#infoModalRowThree {
    font-size: 1.5rem;
    width: 90%;
    margin: 20px auto;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: #eee;
    border-radius: 5px;
}



#infoModalRowThree ul {
    width: 75%;
    display: flex;
    justify-content: flex-start;
}

#infoModalRowThree ul li {
    margin-inline: 20px;
}

#infoModalGalleryRow {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#slideshowContainer {   
    position: relative;
    width: 700px;
    


}

#slideshowContainer #imagesContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}


#imagesContainer input {
    display: none;
}

    

#images {
    width: 100%;
    height: 500px;
    border: 2px solid #141414;
}

#images img {
    width: 100%;
    height: 500px;
    transition: all 0.15s ease;
}

#dots {
    display: flex;
    justify-content: center;
}


.galleryDotButton {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #141414;
    border: 3px solid lightblue;
    border-radius: 50%;
    margin: 20px 12px;
}

.galleryDotButton:hover {
    background-color: lightblue;
    border-color: #141414;
}





/* admin row */
#infoModalAdminRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.adminAction{
    width: 35%;
    padding-inline: 40px;
    height: 100px;
    color: #eee;
    font-size: 2.25rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
    text-align: center;
    line-height: 2.35rem;
}

.adminAction:hover, .deleteAction:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#rowEdit, #deleteCancel, #confirmEdit {
    background-color: lightskyblue;
}

#rowDelete, #deleteConfirm, #cancelEdit{
    background-color: red;
}

/* delete modal */
#deleteActions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


#deleteModal {
    z-index: 100;
    width: 33%;
    height: 500px;
    background-color: white;
    margin-inline: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-inline: 20px;
}

#deleteModal div h2 {
    margin-inline: auto;
    font-size: 1.8rem;
    line-height: 2.5rem;

}


#editBox {
    position: relative;
    width: 60%;
    height: min-content;
    background-color: white;
    margin-block: 20px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#editBox h1 {
    color: #141414;
    margin-inline: auto;
    margin-block: 10px;
    text-align: center;
}

#editBox label, #exitBox div label {
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 20px;
    margin-block: 10px;
    width: min-content;
}

#editBox input, #editBox div input {
    margin-right: 20px;
    margin-block: 10px;
    width: max-content;
    font-size: 1.3rem; 
}

.editGrouping {
    width: 90%;
    margin-block: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #ddd;
    display: flex;
    margin-inline: auto;
}

.editRow {
    flex-direction: row;
    align-items: center;
}

.editCol {
    flex-direction: column;
}

.editRowNoPadding {
    padding-inline: 0;
    padding-block: 7px;
    margin-block: 10px;
}

#descInput {
    max-width: 100%;
    width: 100%;

    
}

#editActions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.deleteTagButton, .deleteImgButton {
    font-size: 1.5rem;
    font-weight: 600;
}


.tagsLI {
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.tagsLI div {
    margin-left: 10px;
}

#tagsDiv h2 {
    margin-inline: auto;
}

.addTagsDiv button {
    font-size: 1.3rem;
    padding: 3px 6px;
}

.tagsManagerMain {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#photosEditGrouping {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#photosEditDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

#photosEditDiv div {
    width: 20%;
}


.editImg {
    width: 100%;
}

.imgEditX {
    position: relative;
    right: -90%;
}


footer {
    font-size: 1.1rem;
    height: 11vh;
    margin-top: 0px;
    background-color: lightblue;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

footer div {
    width: 33%;
}

#footerAttributions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footerAttributions a{
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 1.2rem;
}

#footerSocialLinks {
    display: flex;
    justify-content: center;
}

#footerSocialLinks a {
    margin-inline: 10px;
}


/* responsiveness */
@media screen AND (max-width: 1400px){
    .imgDiv img {
        width: 150px;
    }

    #editBox {
        width: 75%;
    }

    /*

    

    */
}

@media screen AND (max-width: 1200px){
    #wrapper, #actionDivs {
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #filterBox h3 {
        text-align: center;
    }

    #tagsList {
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: auto;
    }

    #infoDisplayDiv {
        width: 80%;
    }

    #deleteModal {
        width: 80%;
    }

    #nameRatingGrouping, #latLongGrouping {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

 
}


@media screen AND (max-width:1000px) {
    #profileLogo {
        top: 20px;
        right: 20px;
        width: 60px;
    }

    #createEntryDiv {
        top: 20px;
        right: 90px;
        width: 60px;
        height: 60px;
        border: 1px solid black;
    }

    #actionDivs {
        flex-direction: column;
    }

    #actionDivs div {
        width: 95%;
        margin: 5px auto;
    }

    #searchBox h3 {
        font-size: 2.4rem;
        line-height: 2.7rem;
        margin-bottom: 40px;
    }

    #searchBox label {
        font-size: 1.6rem;
    }

    
    #tagsList {
        grid-template-columns: repeat(5, 150px);
        grid-template-rows: auto;
    }

    #actionDivs #manualSort {
        visibility: visible;
        width: 60%;
        background-color: lightblue;
        padding-block: 20px;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        border-radius: 5px;
    }

    #actionDivs #manualSort label {
        margin-right: 20px;
    }



    #wrapper {
        min-width: none;
        width: 90%;
    }


    table {
        border: none;
    }

   
    table tr, table tr td {
        display: block;
    }

    table tr th {
        display: none;
    }

    table tr {
        margin-bottom: 20px;
        border: none;
    }

    table tr td {
        padding: 10px;
    }

    .tr_name {
        font-size: 2.5rem;
        line-height: 2.7rem;
        padding: 30px 20px;
    }

    .tr_address:before {
        content: attr(data-td-title) ": ";
        text-transform: capitalize;
        font-weight: bold;
    }

    .tr_description:before {
        content: attr(data-td-title) ": ";
        text-transform: capitalize;
        font-weight: bold;
    }

    .imgDiv {
        display: flex;
        justify-content: center;;
        align-items: flex-start;
    }

    .imgDiv img {
        width: 90%;
    }

    .tagsDiv:before {
        content: attr(data-td-title) ": ";
        text-transform: capitalize;
        font-weight: bold;
    }

    .tr_rating:before {
        content: attr(data-td-title) ": ";
        text-transform: capitalize;
        font-weight: bold;
    }    



    /* login modal */
    #profileModal {
        width: 75%;
    }

    #loginForm {
        width: 75%;
    }


    #editBox {
        width: 90%;
    }

    

}

@media screen AND (max-width: 900px){
    #tagsList {
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: auto;
    }

    #infoDisplayDiv {
        width: 90%; 
    }

    footer {
        padding: 60px;
        text-align: center;
    }

    footer #footerAttributions {
        width: 75%;
    }
}

@media screen AND (max-width: 800px){
    #tagsList {
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: auto;
    }

    #infoDisplayDiv {
        width: 95%;
    }

    #slideshowContainer {
        width: 95%;
    }

    #infoModalRowTwo {
        flex-direction: column;
    }

    #infoModalRowTwo div {
        width: 95%;
        margin: 10px auto;
    }
}



@media screen AND (max-width: 700px){
    #profileLogo {
        top: 10px;
        right: 10px;
    }

    #createEntryDiv {
        top: 10px;
        right: 80px;
        border: 1px solid black;
    }


    #actionDivs div {
        width: 90%;
    }  

    #searchBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #searchBox label {
        margin-bottom: 10px;
    }

    .tagsManagerMain {
        display: flex;
        flex-direction: column;
        
    }

    #newPhotoDiv * {
        margin-left: 50px;
    }

    #newPhotoDiv  input{
        width: min-content;
    }

    #tagsUl li {
        display: flex;
        justify-content: flex-start;
    }

    #tagsUl li div {
        position: relative;
    }

    

    

    
    
}

@media screen AND (max-width: 600px){
    #tagsList {
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: auto;
    }

    
}